[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
napari-plugin-engine = "*"
numpy = "*"
napari = {extras = ["all"], version = "*"}
scikit-image = "*"
pandas = "*"
pulp = "*"
pyqtgraph = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
isort = "*"

[requires]
python_version = "3.10"
